
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}
.container .card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.container .card:hover{
    height: 400px;
}
.container .card .image{
    position: absolute;
    top: 20px;
    left: 7%;
    width: 300px;
    height: 200px;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
}
.container .card:hover .image{
     top: -100px;
     scale: 0.75;
     box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.container .card .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content{
    position: absolute;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    top: 235px;
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
    /* border: 2px solid red; */
}
.container .card:hover .content{
    top: 120px;
    height: 250px;
}
.container .card .content h2{
    color: #022561;
    font-size: 1.5em;
    font-weight: 900;
}
.container .card .content p{
    color: #333;
    font-size: 1.05em;
}
.container .card .content a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background-color:#0ba047;
    color: #ffff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}